@font-face {
    font-family: 'Anuphan-Medium';
    src: url('../fonts/Anuphan-Medium.ttf') format('truetype'),
	url('../fonts/anuphan-medium.woff2') format('woff2'),
        url('../fonts/anuphan-medium.woff') format('woff');
    font-style: normal;
}
​
@font-face {
    font-family: 'Anuphan-Regular';
    src: url('../fonts/Anuphan-Regular.ttf') format('truetype'),
        url('../fonts/anuphan-regular.woff2') format('woff2'),
        url('../fonts/anuphan-regular.woff') format('woff');
    font-style: normal;
}
#Preview {
    width: 100%;
    height: 100%;
    max-width: 1096px;
    max-height: 660px;
    padding: 30px 0;
    margin: 16px auto;
    background-color: #fff;
    /*display: inline-flex;*/
}
#Preview .preview-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: inline-flex;
}
#Preview .preview-container .preview-col-first {
    width: 100%;
    height: 508px;
    margin-right: 33.5px;
    border: 1px solid #000;
    background-color: rgba(241, 248, 255, 1);
    position: relative;
    overflow: auto;
}
#Preview .preview-container .preview-col-first #ClaimStatus {
	width: 100%;
    height: 100%;
    padding: 12px 16px;
}
#Preview .preview-container .preview-col-first #ClaimStatus .claimstatus-detail {
    width: 100%;
    height: 100%;
}
#Preview .preview-container .preview-col-first #ClaimStatus .claimstatus-detail .claim-card {
    width: 100%;
    padding: 9px 0;
    margin-bottom: 19px;
    border: none;
    border-radius: 6px;
    box-shadow: #00000029 0 3px 6px;
    background-color:  rgba(255, 255, 255, 1);
}
#Preview .preview-container .preview-col-first #ClaimStatus .claimstatus-detail .claim-card .lbClaim {
    font-family: 'Anuphan-Regular';
    font-size: 12px;
    line-height: 16px;
    color: rgba(47, 46, 65, 1);
}
#Preview .preview-container .preview-col-first #ClaimStatus .claimstatus-detail .claim-card .lbClaimBlue {
    font-family: 'Anuphan-Medium';
    font-size: 12px;
    line-height: 16px;
    color: rgba(59, 169, 254, 1);
}
#Preview .preview-container .preview-col-first #ClaimStatus .claimstatus-detail .claim-card .claim-row {
    width: 100%;
    padding: 7px 10px;
    margin: 0 auto;
    display: inline-flex;
    border-bottom: 0.5px solid #e7ecee;
}
#Preview .preview-container .preview-col-first #ClaimStatus .claimstatus-detail .claim-card .claim-row .claim-header {
    width: 50%;
    padding: 0;
    text-align: left;
}
#Preview .preview-container .preview-col-first #ClaimStatus .claimstatus-detail .claim-card .claim-row .claim-data {
    width: 50%;
    padding: 0;
    text-align: right;
}
#Preview .preview-container .preview-col-first #ClaimStatus .claimstatus-detail .claim-card .claim-row .claim-data .claim-type {
    margin-left: auto;
    display: inline-flex;
}
#Preview .preview-container .preview-col-first #ClaimStatus .claimstatus-detail .claim-card .claim-row .claim-data .claim-type .icon {
    width: 15px;
    height: 24px;
    margin: auto 11px auto 0;
}
#Preview .preview-container .preview-col-first #ClaimStatus .claimstatus-detail .claim-card .claim-row .claim-data .claim-type .btnDetail {
    min-width: auto;
    height: auto;
    background: none;
    border: none;
    padding: 0;
    box-shadow: none;
}
#Preview .preview-container .preview-col-first #ClaimStatus .claimstatus-detail .claim-card .claim-row .claim-data .claim-type .btnDetail .claim-next {
    width: 22px;
    height: 22px;
}
#Preview .preview-container .preview-col-first #ClaimStatus .claimstatus-detail .claim-card .claim-row.status-row {
    border-bottom: none;
    padding-bottom: 2px;
}
#Preview .preview-container .preview-col-first #ClaimStatus .claimstatus-detail .claim-card .claim-row.status-row .claim-data {
    padding: 0;
    text-align: right;
}
#Preview .preview-container .preview-col {
    width: 100%;
    height: 508px;
    margin: 0 33.5px;
    padding: 0;
    border: 1px solid #000;
    background-color: rgba(241, 248, 255, 1);
    position: relative;
    overflow: auto;
}
#Preview .preview-container .preview-col #ClaimStatus {
    width: 100%;
    height: 100%;
    padding: 0;
}
#Preview .preview-container .preview-col #ClaimStatus .claimstatus-detail {
    width: 100%;
    height: auto;
    padding: 0;
}
#Preview .preview-container .preview-col #ClaimStatus .claimstatus-detail .claim-card {
    width: 100%;
    height: 100%;
    margin-bottom: 26px;
}
#Preview .preview-container .preview-col #ClaimStatus .claimstatus-detail .claim-card .lbClaim {
    font-family: 'Anuphan-Regular';
    font-size: 12px;
    line-height: 16px;
    vertical-align: middle;
    color: rgba(47, 46, 65, 1);
}
#Preview .preview-container .preview-col #ClaimStatus .claimstatus-detail .claim-card .claim-row {
    width: 100%;
    padding: 7px 14px 9px;
    margin: 0 auto;
    display: inline-flex;
    border-bottom: 0.5px solid #e7ecee;
}
#Preview .preview-container .preview-col #ClaimStatus .claimstatus-detail .claim-card .claim-row .claim-header {
    width: 50%;
    padding: 0;
    text-align: left;
}
#Preview .preview-container .preview-col #ClaimStatus .claimstatus-detail .claim-card .claim-row .claim-data {
    width: 50%;
    padding: 0;
    text-align: right;
}
#Preview .preview-container .preview-col #ClaimStatus .claimstatus-detail .claim-card .claim-row .claim-data .claim-type {
    margin-left: auto;
    display: inline-flex;
}
#Preview .preview-container .preview-col #ClaimStatus .claimstatus-detail .claim-card .claim-row .claim-data .claim-type .icon {
    width: 15px;
    height: 24px;
    margin-right: 11px;
}
#Preview .preview-container .preview-col #ClaimStatus .claimstatus-detail .claim-card .claim-row .claim-data .claim-type .btnDetail {
    background: none;
    border: none;
    padding: 0;
}
#Preview .preview-container .preview-col #ClaimStatus .claimstatus-detail .claim-card .claim-row .claim-data .claim-type .btnDetail .claim-next {
    width: 11px;
    height: 11px;
}
#Preview .preview-container .preview-col #ClaimStatus .claimstatus-detail .claim-status {
    width: 100%;
    height: auto;
    padding: 0;
}
#Preview .preview-container .preview-col #ClaimStatus .claimstatus-detail .claim-status .status-list {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 18px;
    display: inline-flex;
}
#Preview .preview-container .preview-col #ClaimStatus .claimstatus-detail .status-list .status-badge {
    width: 35px;
    max-width: 35px;
    height: 64px;
    padding: 0;
    margin-right: 17px;
}
#Preview .preview-container .preview-col #ClaimStatus .claimstatus-detail .status-list .status-badge .badge-icon {
    width: 35px;
    height: 35px;
}
#Preview .preview-container .preview-col #ClaimStatus .claimstatus-detail .status-list .status-badge .badge-none {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: 2px solid #eee;
    background-color: #fff;
}
#Preview .preview-container .preview-col #ClaimStatus .claimstatus-detail .status-list .status-badge .status-line {
    width: 2px;
    height: 20px;
    margin: 5px 0 5px 16px;
    border-left: 2px solid #eee;
    background-color: #eee;
    display: block;
}
#Preview .preview-container .preview-col #ClaimStatus .claimstatus-detail .status-list .status-detail {
    padding: 0;
    text-align: left;
}
#Preview .preview-container .preview-col #ClaimStatus .claimstatus-detail .status-list .status-detail .lbStatus {
    font-family: 'Anuphan-Regular';
    font-size: 14px;
    line-height: 18px;
    color: rgba(33, 150, 243, 1);
}
#Preview .preview-container .preview-col #ClaimStatus .claimstatus-detail .status-list .status-detail .lbDate {
    padding-top: 4px;
    font-family: 'Anuphan-Medium';
    font-size: 8px;
    line-height: 8px;
    color: rgba(97, 125, 140, 1);
    display: block;
}
#Preview .preview-container .preview-col-last {
    width: 100%;
    height: 508px;
    margin-left: 33.5px;
    padding: 0;
    border: 1px solid #000;
    background-color: rgba(241, 248, 255, 1);
    position: relative;
    overflow: auto;
}
#Preview .preview-container .preview-col-last #ClaimHistory {
    width: 100%;
    height: 100%;
    padding: 0;
}
#Preview .preview-container .preview-col-last #ClaimHistory .claim-history {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
}
#Preview .preview-container .preview-col-last #ClaimHistory .claim-history .claim-list {
    width: 100%;
    padding: 14px 12px;
    border-bottom: 1px solid #e6f2fe;
    display: inline-flex;
}
#Preview .preview-container .preview-col-last #ClaimHistory .claim-history .claim-list .table-claim {
    width: 100%;
    margin: 0 auto;
    display: inline-flex;
}
#Preview .preview-container .preview-col-last #ClaimHistory .claim-history .claim-list .table-claim .detail-col {
    padding: 0;
}
#Preview .preview-container .preview-col-last #ClaimHistory .claim-history .claim-list .table-claim .detail-col .lbClaim {
    font-family: 'Anuphan-Regular';
    font-size: 12px;
    line-height: 22px;
    color: rgba(79, 83, 88, 1);
    display: block;
}
#Preview .preview-container .preview-col-last #ClaimHistory .claim-history .claim-list .table-claim .status-col {
    width: 50%;
    max-width: 85px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
#Preview .preview-container .preview-col-last #ClaimHistory .claim-history .claim-list .table-claim .status-col .claimStatus {
    padding: 9px 0;
}
#Preview .preview-container .preview-col-last #ClaimHistory .claim-history .claim-list .table-claim .status-col .claimStatus .status {
    width: 26px;
    height: 26px;
    margin-bottom: 10px;
}
#Preview .preview-container .preview-col-last #ClaimHistory .claim-history .claim-list .table-claim .status-col .claimStatus .lbStatus {
    font-family: 'Anuphan-Medium';
    font-size: 12px;
    line-height: 16px;
    color: rgba(79, 83, 88, 1);
    text-align: center;
    display: block;
}

.head-popup{
	position: absolute;
    height: 47px;
    background-color: #1E2225;
    width: 100%;
    margin: -20px;
}